<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tripp: <%= trip.name %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="container">
      <div class="button-group">
        <form action="/trips/<%=trip._id%>?_method=DELETE" method="POST">
          <button type="submit" class="delete-button">Delete Trip</button>
        </form>
        <form action="/trips/<%=trip._id%>/edit" method="GET">
          <button type="submit" class="edit-button">Edit Trip</button>
        </form>
      </div>
      <h1>All Days</h1>
      <h2>
        <% if (remainingBudget >= 0) { %> Remaining Budget: $<%= remainingBudget
        %> <% } else { %>
        <span class="over-budget">Over budget by: $<%= -remainingBudget %></span
        ><% } %>
      </h2>

      <ul class="trip-list">
        <% days.forEach(day => { %>
        <li class="trip-card">
          <a href="/trips/<%= trip._id %>/days/<%= day._id %>">
            <img
              src="<%= day.image %>"
              alt="<%= day.name %>"
              class="thumbnail"
              onerror='this.src="/assets/placeholder.png"'
              alt="<%= day.name %>"
            />
            <p class="trip-name"><%= day.name %></p>
          </a>
        </li>
        <% }); %>
      </ul>
      <nav>
        <a href="/trips" class="back-link">← Go Back</a>
        <a href="/trips/<%= trip._id %>/days/new" class="nav-link"
          >Add New Day</a
        >
        <form action="/trips/<%=trip._id%>/share" method="GET">
          <button type="submit" class="share-button">Share Trip</button>
        </form>
      </nav>
    </div>
  </body>
</html>
