<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tripp: <%= trip.name %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>All Days</h1>

      <ul class="trip-list">
        <% days.forEach(day => { %>
        <li class="trip-card">
          <a href="/trips/<%= trip._id %>/<%= day._id %>">
            <img
              src="<%= day.image %>"
              alt="<%= day.name %>"
              class="thumbnail"
              onerror='this.src="/assets/placeholder.png"'
              alt="<%= day.name %>"
            />
            <p class="trip-name"><%= day.name %></p>
          </a>
        </li>
        <% }); %>
      </ul>
      <nav>
        <a href="/trips" class="back-link">← Go Back</a>
        <a href="/trips/<%= trip._id %>/new" class="nav-link">Add New Day</a>
      </nav>
    </div>
  </body>
</html>
