<!-- views/days/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= day.name %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="container">
      <h1 class="trip-title"><%= day.name %></h1>
      <h2><%=day.date%></h2>
      <img
        src="<%= day.image %>"
        alt="<%= day.name %>"
        class="trip-image"
        onerror='this.src="/assets/placeholder.svg"'
        alt="<%= day.name %> image"
      />

      <p class="trip-description"><%= day.description %></p>
      <p>$<%= day.cost %></p>
      <p class="notes"><%= day.notes? day.notes : "" %></p>

      <div class="button-group">
        <form
          action="/trips/<%=trip._id %>/days/<%=day._id%>?_method=DELETE"
          method="POST"
        >
          <button type="submit" class="delete-button">Delete</button>
        </form>
        <form
          action="/trips/<%=trip._id %>/days/<%=day._id%>/edit"
          method="GET"
        >
          <button type="submit" class="edit-button">Edit</button>
        </form>
      </div>

      <a href="/trips/<%=trip._id %>" class="back-link">← Back to Days</a>
    </div>
      <div class="map-container">
        <iframe
          class="map"
          style="border: 0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key=<%=apikey%>&q=<%=location.name %>">
        </iframe>
      </div>
  </body>
</html>
